BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: Never
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
PointerAlignment: Right
IndentCaseLabels: false
SeparateDefinitionBlocks: Always
